@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(184, 219, 248);
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 2%;
}
.header {
    margin-top: 1%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.container {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5%;
    margin-right: 10%;
    height: 430px;
    width: 430px;
    display: grid;
    background-color: white;
    border: 1px solid black;
    grid-gap: 0;
}

.slider {
    margin-left: 15%;
    width: 220px;
}

.label {
    font-size: 20px;
    font-weight: 500;
}
#text {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10%;
}

.checkmark {
    height: 26px;
    width: 25px;
    background-color: rgb(243, 182, 182);
}


 .radiobuttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: top;
    align-items: flex-start;
    width: 400px;
    height: 210px;
    gap: 15px;
}

span {
    font-size: 20px;
}

.radiobuttons div {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    align-items: center;
} 

.footer {
    color: white;
    background-color: black;
    margin-top: auto;
    padding: 8px 0%;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}


